@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html{
  height: 100%;
}

body{
  margin: 0;
  font-family: sans-serif;
  font-size: 1.7rem;
  text-align: center;
  background: linear-gradient(to bottom,rgb(6, 25, 56),rgb(12, 8, 120),rgb(73, 12, 153),rgb(137, 25, 181))fixed;


}

h1,h2{
  font-family: "Satisfy", sans-serif;
  color:white;

}





.input-number{
  width:75%;
  margin: 1em auto;
  text-align: center;
  color:white;
}


.input-number input{
  padding: .55em;
  border: 2px solid pink;
  font-size: 1.3rem;


}

.input-number button{
  padding:.55em;
  width:125px;
  font-size: 1.3rem;
  display: inline-flex;
  justify-content: center;
  background: rgb(146, 50, 230);
  color:white;
  border: 1px solid pink;
}

.input-number button:hover{
  cursor: pointer;
  background-color: pink;
  transition: background-color 1000ms;
}





.number{
  color:red;
}

.description{
  width:75%;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.2rem;
}

.pheader{
  display: block;
  color:red;
}


.socmed {
  width: 55%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;


}

.socmed h2{
  margin: 0;
}



.socmed-links{
  width:50%;
  display: flex;
  justify-content: space-between;

}


.socmed-links div{
  width:10%;

}


.socmed-links div img{
  width: 100%;
}



@media (max-width:800px){
  h1{
    font-size: 2.5rem;
  }
  .main-head{
    display: flex;
    flex-direction: column;
    width:100%;

  }
  .input-number input{
    font-size: 1.5rem;
  }

  .input-number button{
    width:100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 1.3em;
    padding:.75em;
    margin-bottom: 0;
  }

  .description {
    width: 100%;
    font-size: .95rem;
  }
  .socmed h2{
    font-size: 1.5rem;
  }

  .socmed-links div{
    width:15%
  }

}

@media (max-width:500px){
  .input-number input{
    font-size: .95rem;
  }
  .input-number button{
    font-size: .95rem;
  }

  .socmed {
    width:75%;
  }

  .socmed h2{
    font-size: 1.5rem;
  }

  .socmed-links div{
    width:17%
  }


}
